@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto+Condensed&display=swap");

body {
  font-family: Roboto Condensed sans-serif;
}

/* -------------- NAVBAR ----------------------- */
.nav {
  border-bottom: 2px solid yellow;
  background-color: black;
  width: 100%;
}
.navbar {
  display: flex;
  height: 75px;
  list-style-type: none;
}
.navbar_div {
}
.navbar_item {
  color: white !important;
  list-style-type: none;
  text-decoration: none;
}
/* --------------NAVBAR LINKS ---------------- */
.nav-link {
  font-weight: 500;
  font-size: x-large;
  color: white;
  cursor: pointer;
}
.projectStyles {
  height: 200px;
  width: 200px;
  text-align: "center";
  padding: 30px;
}
